@import '../../../styles/color.variables.scss';
@import '../../../styles/null.scss';
@import '../../../styles/fonts.scss';

.wrapper {
  width: 100%;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.img {
  background: #eaf0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 14px;
  position: relative;
  img {
    width: 100%;
  }
}
.winInfo {
  position: absolute;
  top: 45%;
  left: 30%;
  display: inline-block;
  padding: 5px 15px;
  background: $PureWhite;
  border-radius: 15%;
  border: 1px solid $PureBlack;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $PureBlack;
}

.description {
  position: absolute;
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 23px;
  background: $PureWhite;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}
.Blocklink {
  display: flex;
  align-items: center;
}
.label {
  display: inline-block;
  max-width: 50px;

  align-items: center;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: $ContentBlack;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  span {
    margin: 0px 0px 0px 4px;
    display: block;
    width: 10px;
    height: 10px;
    background: url('../../../icons/createNewBox/copy.svg') no-repeat;
  }
}
.linkGood {
  cursor: pointer;
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  span {
    margin: 0px 0px 0px 4px;
    display: block;
    background: $Primary url('../../../icons/message/yesMini.svg') center no-repeat;
    width: 10px;
    height: 10px;
    border-radius: 2.5px;
  }
}

.created {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  color: $Primary;
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    top: 25%;
    left: -30%;
    border-radius: 50%;
    position: absolute;
    background: $Primary;
  }
}
