@import "../../styles/color.variables";
@import "../../styles/null";
@import "../../styles/fonts";

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.code {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 0 0 20px;
}

.boxName {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 0 0 46px;

  &::before {
    content: "";
    height: 3px;
    width: 100%;
    top: 95px;
    left: 0;
    position: absolute;
    background: $WebBG;
    border-radius: 2px;
  }
}

.boxMessage {
  padding: 0 0 50px;
}

.lootboxCode {
}

.link {
  padding: 0 0 20px;
}
