@import '../../styles/color.variables.scss';
@import '../../styles/null.scss';
@import '../../styles/fonts.scss';

.wrapper {
  display: flex;
  padding: 0px 0px 0px 0px;

  flex: 1 0 auto;
  width: 100%;

  flex-direction: column;
}

.wrapperStatistics {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.Chart {
  display: flex;
  justify-content: space-between;
  padding: 21px 0px 0px 0px;
}
.ChartAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.ChartBalance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.statisticInfo {
  width: 339px;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: start;
  padding: 10px 0px 21px 0px;
}

.link {
  padding: 0px 0px 23px 0px;
}

[class^=' apexcharts-radial-series'],
[class*=' apexcharts-radial-series'] {
  background: #000;
  position: relative;
  z-index: 0 !important;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #000;
    z-index: 10 !important;
  }

  path {
    position: relative;
    z-index: 0;
    stroke: #f26680;
  }
}
[class^=' apexcharts-radialbar-slice-0'],
[class*=' apexcharts-radialbar-slice-0'] {
  background: #000;
  position: relative;
}
