@import "../../styles/color.variables";
@import "../../styles/null";
@import "../../styles/fonts";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0 0;
  height: 100vh;
  width: 100%;
  position: relative;
}

.titleLinks {
  display: flex;
  width: 237px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 395px;
    height: 3px;
    background: $WebBG;
    top: 50%;
    right: -33%;
  }
}

.titleLinksWinners {
  display: flex;
  width: 237px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 395px;
    height: 3px;
    background: $WebBG;
    top: 50%;
    right: -33%;
  }
}
