@import '../../../styles/color.variables.scss';
@import '../../../styles/null.scss';
@import '../../../styles/fonts.scss';

.label {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: $MainGrey;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}
