@import '../../../styles/color.variables.scss';
@import '../../../styles/null.scss';
@import '../../../styles/fonts.scss';

.wrapper {
  width: 100%;
}
.lootboxCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.message {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 20px 30px;
  background: $PureWhite;
  border-radius: 10px;
  border: 1px solid $WebBG;
}
.messageBlock {
  display: flex;
  max-width: 90%;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $MainGrey;
  word-wrap: break-word;
  // p {
  //   display: block;
  //   max-width: 314px;
  // }
}
.messageInput {
  display: block;
  max-width: 300px;
}
.link {
  display: block;
  width: 100%;
  // max-width: 314px;
}
.instruction {
  display: block;
  width: 100%;
}
.project {
  display: block;
  width: 100%;
}
.button {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Crect width='25' height='25' rx='5' fill='%23D9304F'/%3E%3Cpath d='M13.7498 18.75H7.49975C7.1648 18.7616 6.84005 18.6337 6.60306 18.3967C6.36607 18.1597 6.23811 17.835 6.24975 17.5V11.25C6.23811 10.915 6.36607 10.5903 6.60306 10.3533C6.84005 10.1163 7.1648 9.98836 7.49975 10H9.99975V7.5C9.98811 7.16504 10.1161 6.84029 10.3531 6.6033C10.5901 6.36631 10.9148 6.23836 11.2498 6.25H17.4998C17.8347 6.23836 18.1595 6.36631 18.3964 6.6033C18.6334 6.84029 18.7614 7.16504 18.7498 7.5V13.75C18.7612 14.0849 18.6332 14.4095 18.3962 14.6465C18.1593 14.8834 17.8347 15.0115 17.4998 15H14.9998V17.5C15.0112 17.8349 14.8832 18.1595 14.6462 18.3965C14.4093 18.6334 14.0847 18.7615 13.7498 18.75ZM7.49975 11.25V17.5H13.7498V15H11.2498C10.9149 15.0115 10.5902 14.8834 10.3533 14.6465C10.1163 14.4095 9.9883 14.0849 9.99975 13.75V11.25H7.49975ZM11.2498 7.5V13.75H17.4998V7.5H11.2498Z' fill='white'/%3E%3C/svg%3E");
  width: 25px;
  height: 25px;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Crect width='25' height='25' rx='5' fill='%23f26680'/%3E%3Cpath d='M13.7498 18.75H7.49975C7.1648 18.7616 6.84005 18.6337 6.60306 18.3967C6.36607 18.1597 6.23811 17.835 6.24975 17.5V11.25C6.23811 10.915 6.36607 10.5903 6.60306 10.3533C6.84005 10.1163 7.1648 9.98836 7.49975 10H9.99975V7.5C9.98811 7.16504 10.1161 6.84029 10.3531 6.6033C10.5901 6.36631 10.9148 6.23836 11.2498 6.25H17.4998C17.8347 6.23836 18.1595 6.36631 18.3964 6.6033C18.6334 6.84029 18.7614 7.16504 18.7498 7.5V13.75C18.7612 14.0849 18.6332 14.4095 18.3962 14.6465C18.1593 14.8834 17.8347 15.0115 17.4998 15H14.9998V17.5C15.0112 17.8349 14.8832 18.1595 14.6462 18.3965C14.4093 18.6334 14.0847 18.7615 13.7498 18.75ZM7.49975 11.25V17.5H13.7498V15H11.2498C10.9149 15.0115 10.5902 14.8834 10.3533 14.6465C10.1163 14.4095 9.9883 14.0849 9.99975 13.75V11.25H7.49975ZM11.2498 7.5V13.75H17.4998V7.5H11.2498Z' fill='white'/%3E%3C/svg%3E");
  }
  &:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Crect width='25' height='25' rx='5' fill='%23a6253c'/%3E%3Cpath d='M13.7498 18.75H7.49975C7.1648 18.7616 6.84005 18.6337 6.60306 18.3967C6.36607 18.1597 6.23811 17.835 6.24975 17.5V11.25C6.23811 10.915 6.36607 10.5903 6.60306 10.3533C6.84005 10.1163 7.1648 9.98836 7.49975 10H9.99975V7.5C9.98811 7.16504 10.1161 6.84029 10.3531 6.6033C10.5901 6.36631 10.9148 6.23836 11.2498 6.25H17.4998C17.8347 6.23836 18.1595 6.36631 18.3964 6.6033C18.6334 6.84029 18.7614 7.16504 18.7498 7.5V13.75C18.7612 14.0849 18.6332 14.4095 18.3962 14.6465C18.1593 14.8834 17.8347 15.0115 17.4998 15H14.9998V17.5C15.0112 17.8349 14.8832 18.1595 14.6462 18.3965C14.4093 18.6334 14.0847 18.7615 13.7498 18.75ZM7.49975 11.25V17.5H13.7498V15H11.2498C10.9149 15.0115 10.5902 14.8834 10.3533 14.6465C10.1163 14.4095 9.9883 14.0849 9.99975 13.75V11.25H7.49975ZM11.2498 7.5V13.75H17.4998V7.5H11.2498Z' fill='white'/%3E%3C/svg%3E");
  }
}
.buttonGoogCopy {
  display: inline-block;
  background: $Primary url('../../../icons/message/yes.svg') center no-repeat;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
