@import '../../../styles/color.variables.scss';
@import '../../../styles/null.scss';
@import '../../../styles/fonts.scss';

.wrapper {
  width: 100%;
}
.lootboxCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.message {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 20px 30px;
  background: $PureWhite;
  border-radius: 10px;
  border: 1px solid $WebBG;
}
.messageBlock {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $MainGrey;
  word-wrap: break-word;
  p {
    display: block;
    max-width: 314px;
  }
}
.messageInput {
  display: block;
  // max-width: 314px;
}
.link {
}
.instruction {
}
.button {
  display: inline-block;
  background: url('../../../icons/message/copyMess.svg');
  width: 25px;
  height: 25px;
}
