@import '../../styles/color.variables.scss';
@import '../../styles/null.scss';
@import '../../styles/fonts.scss';

.wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.blockInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.winners {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex: 1 0 auto;
  align-items: flex-start;

  padding: 0px 0px 68px 0px;
}
.winnersList {
  display: flex;
  // flex: 1 0 auto;
  align-items: center;
  width: 100%;
  height: 10px;
  justify-content: space-between;
  position: relative;
  padding: 0px 29px;
  margin: 0px 0px 5px 0px;
}
.winnersLink {
  display: flex;
  width: 71%;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;

  color: $Primary;
}

.link {
  padding: 0px 0px 23px 0px;
}

.listTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 29px 15px 29px;
}

.itemTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: #919191;
  padding: 0px 0px 0px 5%;
  &:first-child {
    padding: 0px 0px 0px 2%;
  }
}

.itemLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #588ca3;
  // margin: 0px 0px 5px 0px;
}
