@import "../../styles/color.variables";
@import "../../styles/null";
@import "../../styles/fonts";

.wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.blockInfo {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.winners {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex: 1 0 auto;
  align-items: flex-start;
  padding: 0 0 68px;
}

.winnersList {
  display: flex;

  // flex: 1 0 auto;
  align-items: center;
  width: 100%;
  height: 10px;
  justify-content: space-between;
  position: relative;
  padding: 0 29px;
  margin: 0 0 5px;
}

.winnersLink {
  display: flex;
  width: 71%;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: $Primary;
}

.link {
  padding: 0 0 23px;
}

.listTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 29px 15px;
}

.itemTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: #919191;

  // padding: 0px 0px 0px 5%;
  // &:first-child {
  //   padding: 0px 0px 0px 2%;
  // }
}

.itemLink {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  color: #588ca3;
}

table {
  table-layout: fixed;
  width: 100%;

  th {
    padding-bottom: 15px;
  }

  th:nth-child(2) {
    width: 33%;
  }

  th:nth-child(3) {
    width: 33%;
  }

  td {
    position: relative;
  }

  span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  span:hover {
    z-index: 3;
    position: absolute;
    top: -10px;
    right: 0%;
    width: 100%;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background-color: #fff;
  }

  span:active {
    z-index: 3;
    position: absolute;
    top: -10px;
    right: 0%;
    width: 100%;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    background-color: #fff;
  }
}

thead {
}

tbody {
  text-align: center;
}

table tr td:nth-child(2) {
  word-break: break-all;
}

table tr td:nth-child(1) {
  word-break: break-all;
}
