[class^=' number-slide1'],
[class*=' number-slide1'] {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 2px 2px 2px #00a3ff;
  }
}
img [style*='width: 10px'] {
  // width: 10px;
}

[class^='keen-slider__slide'],
[class*=' keen-slider__slide'] {
  // width: 40px;
}
// [class^='thumbnail'],
// [class*=' thumbnail'] {
//   height: 500px;
// }

[class^='navigation-wrapper'],
[class*=' navigation-wrapper'] {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;

  [class^='keen-slider'],
  [class*=' keen-slider'] {
    justify-content: space-between !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &:focus {
      outline: none;
    }
  }

  [class^='arrow .arrow--left'],
  [class*='arrow .arrow--left'] {
    top: 0;
    left: 0;
    z-index: 10;
  }
}

[class^='.arrow--left'],
[class*=' .arrow--left'] svg {
  // top: 10px;
}

.navigationWrapper {
  justify-content: center;
  position: relative;
  width: 100%;
  // height: 80px;
  &:focus {
    outline: none;
  }
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.keenSlider {
  width: 85%;
  padding: 10px 5px;
  // height: 80px;
  overflow-x: hidden;
  display: flex;
  // justify-content: space-between;
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &:focus {
    outline: none;
  }
  [class^='keen-slider__slide'],
  [class*=' keen-slider__slide'] {
    // width: 40px;
  }
}

[class^=' clicked'],
[class*=' clicked'] {
  border: 3px solid #d9304f;
  &:hover {
    box-shadow: none;
  }
}

[class^=' arrow--left'],
[class*=' arrow--left'] {
  position: absolute;
  top: 40%;
  left: 0;
  cursor: pointer;
}
[class^=' arrow--right'],
[class*=' arrow--right'] {
  position: absolute;
  top: 40%;
  right: 0;
  cursor: pointer;
}
