@import '../../../styles/color.variables.scss';
@import '../../../styles/null.scss';
@import '../../../styles/fonts.scss';

.linksNavigation {
  font-family: Roboto, sans-serif;
  font-size: 400;
  position: relative;
}
.next {
  color: $Primary;
  position: relative;

  svg {
    position: absolute;
    top: 1px;
    right: -16px;
    transform: rotate(180deg);
    path {
      fill: $Primary;
    }
  }

  &:hover {
    color: $PrimaryHover;
    svg {
      path {
        fill: $PrimaryHover;
      }
    }
  }
  &:active {
    color: $PrimaryPressed;
    svg {
      path {
        fill: $PrimaryPressed;
      }
    }
  }
}

.prev {
  background: inherit;
  color: $TitlePayInfo;
  position: relative;

  svg {
    position: absolute;
    top: 1px;
    left: -16px;
    path {
      fill: $TitlePayInfo;
    }
  }
  &:hover {
    color: $ContentBlack;
    svg {
      path {
        fill: $ContentBlack;
      }
    }
  }
  &:active {
    color: $MainBlack;
    svg {
      path {
        fill: $MainBlack;
      }
    }
  }
}
