@import "../../styles/color.variables";
@import "../../styles/null";
@import "../../styles/fonts";

.wrapper {
  padding: 60px 0 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapperImage {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 32px 0 0;
}

.firstLine {
  padding: 0 0 20px;
}

.selectedImage {
  width: 391px;
  height: 391px;
  border-radius: 10px;
  background: inherit;
}

.secondLine {
  padding: 20px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 24px 14px 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: $WebBG;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
  }
}
